H1 {
  color: #003822;
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: left;
  margin: 4%;
}

H2 {
  color: #003822;
  font-size: 150%;
  font-family: Arial, Verdana, sans-serif;
  text-align: left;
  margin: 2%;
}

TABLE {
  width: 30%;
}

.main-row {
  background: #8db600;
  font-size: 110%;
  color: #01281a;
  width: 100%;
  height: 100%;
  font-weight: 500;
  top: 2px;
  bottom: 2px;
  left: 20px;
  right: 20px;
  text-align: center;
  overflow: auto;
}

.rows {
  background: #d1e231;
  color: #2b2911;
  width: 100%;
  height: 100%;
  font-weight: 600;
  top: 2px;
  bottom: 2px;
  left: 10px;
  right: 10px;
  text-align: center;
}

.currency {
  margin: 1%;
}

.count {
    background: #8db600;
     margin: 1%;
}